.footer {
  background-color: $dark-800;
  color: $white;
  padding: 30px 0 22px;
  font-size: 14px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    background-color: $white;
    height: 1px;
    bottom: 77px;
    right: 0;
    left: 0;
    opacity: 0.1;
  }
}

.footer-top {
  display: flex;
  padding: 30px 0;

  &__letter {
    margin-right: 150px;
  }

  &__letter-form {
    max-width: 576px;
    width: 100%;
    display: flex;
  }

  &__letter-text {
    margin-bottom: 18px;
    line-height: 1;
  }

  &__letter-input {
    padding: 10px;
    width: 100%;
    max-width: 180px;
    border-radius: 6px 0 0 6px;

    &::placeholder {
      line-height: 1;
      color: #4F4F4F;
    }
  }

  &__button {
    @extend %opensans-700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 12px 17px;
    border-radius: 0 6px 6px 0;
    background-color: $green-900;
    color: $white;
    transition: background-color 0.4s, box-shadow 0.3s, color 0.4s;

    &:hover {
      background-color: #4D800C;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-200;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 540px;
    margin-right: 80px;
  }

  &__items {
    max-width: 130px;
    width: 100%;
  }

  &__items:not(:last-child) {
    margin-right: 30px;
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__contacts-item {
    margin-bottom: 18px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;

  &__accept {
    display: flex;
  }

  &__accept__image:not(:last-child) {
    margin-right: 24px;
  }
}

.form {
  max-width: 576px;
  width: 100%;
  display: flex;

  &-input {
    padding: 15px 52px;
    max-width: 420px;
    width: 100%;
    border-radius: 6px 0 0 6px;
  }

  &-input::placeholder {
    color: $dark-800;
    @extend %opensans-400;
  }
}

.social {
  display: flex;

  path {
    transition: fill 0.3s;
  }

  &-item:not(:last-child) {
    margin-right: 12px;
  }

  &-link {
    width: 32px;
    height: 32px;
    display: block;
    transition: opacity 0.4s, box-shadow 0.4ms;

    &:hover {
      opacity: 0.7
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px #E0EDCF;
      border-radius: 3px;
    }

    &:active {
      path {
        fill: $green-200;
      }

    }
  }
}