html,
body,
.wrapper {
  height: 100%; //без body и html footer не прижимается к низу
}

body {
  color: $dark-900;
  font-size: 14px;
  line-height: 1.4;
  font-family: $opensans;
  font-weight: $fw-400;
  min-height: 100vh;
  background-color: $white;
  position: relative;
}

.no-scroll {
  overflow: hidden;

  &::after {
    background-color: rgba($black, 0.15);
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex: 1 0 auto;
}

.section {
  padding: 72px 0;
}

.title {
  font-family: $ruda;
  font-weight: $fw-600;
  text-transform: uppercase;
  font-size: 32px;
  color: $dark-900;
  margin-bottom: 30px;
}

.link {
  padding: 11px 28px;
  background-color: $green-900;
  color: $white;
  line-height: 1.3;
  border-radius: 6px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.4s, box-shadow 0.4s, color 0.3s;

  &--border {
    background-color: $white;
    border: 1px solid $green-900;
    color: $green-900;
    transition: background-color 0.4s, box-shadow 0.4s, color 0.3s;

    &:focus {
      box-shadow: 0 0 0 4px rgba($green-900, 0.5);
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba($black, 0.1);
      color: rgba($green-900, 0.5);
    }
  }

  &--active {
    &:focus {
      box-shadow: 0 0 0 4px $green-200;
      border-radius: 6px;
    }

    &:hover {
      background-color: $green-1000;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba($black, 0.25);
      color: rgba($white, 0.5);
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  &--subscribe {
    font-weight: $fw-700;
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    padding: 12px 17px;
    border-radius: 0 6px 6px 0;
    background-color: $green-900;
    color: $white;
    transition: background-color 0.4s, box-shadow 0.3s, color 0.4s;

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
    }

    &:hover {
      background-color: $green-1000;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba($black, 0.25);
      color: rgba($white, 0.5);
    }
  }

  &--catalog {
    padding: 15px 46px 15px 61px;
    color: $green-900;
    background-color: $white;
    border-radius: 6px;
    position: relative;
    letter-spacing: 0.03em;
    margin-right: 29px;
    transition: background-color 0.4s, box-shadow 0.4s;

    &:hover,
    &--active {
      background-color: $green-200;
      border-radius: 6px 6px 0 0;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
    }

    &::before {
      background-image: url('../images/nav.svg');
      width: 25px;
      height: 17px;
      left: 17px;
      background-size: cover;
    }

    &::after {
      background-image: url('../images/arrow.svg');
      width: 8px;
      height: 8px;
      background-size: contain;
      right: 18px;
      top: 22px;
      transition: transform 0.4s;
    }

    &:hover::after,
    &--active::after {
      transform: rotate(180deg);
      top: 20px;
    }
  }

  &--search {
    text-transform: uppercase;
    padding: 15px 54px;
    background-color: $dark-800;
    color: $white;
    border-radius: 0 6px 6px 0;
    transition: background-color 0.4s, box-shadow 0.4s, color 0.4s;

    &:focus {
      box-shadow: 0 0 0 4px rgba($white, 0.5);
    }

    &:hover {
      background-color: rgba($dark-800, 0.85);
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba($black, 0.25);
      color: rgba($white, 0.5);
    }
  }


}

.logo {
  display: inline-block;
  z-index: 20;
  transition: box-shadow 0.5s, opacity 0.5s;
  border-radius: 6px;

  &:focus {
    box-shadow: 0 0 0 3px $green-200;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.form-subscribe {
  max-width: 315px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 135px;

  &__wrapper {
    display: flex;
  }

  &__label {
    margin-bottom: 18px;
    line-height: 1;
    display: block;
  }

  &__field {
    padding: 10px;
    width: 100%;
    max-width: 180px;
    border-radius: 6px 0 0 6px;
    transition: box-shadow 0.4s, background-color 0.3s;

    &::placeholder {
      line-height: 1;
      color: $silver-900;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba($black, 0.25);
    }
  }
}

.form-search {
  max-width: 576px;
  width: 100%;
  display: flex;
  margin-right: 45px;

  &__field {
    padding: 15px 52px;
    max-width: 420px;
    width: 100%;
    border-radius: 6px 0 0 6px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url('../images/search.svg');
    background-position: 15px 15px;
    transition: box-shadow 0.4s, background-color 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba($black, 0.25);
    }

    &::placeholder {
      color: $dark-800;
      font-weight: $fw-400;
      font-family: $opensans;
    }
  }
}