    <header class="header">
      <nav class="header-nav">
        <div class="header__top">
          <div class="container">
            <div class="header__inner">
              <ul class="header__list">
                <li class="header__item">
                  <svg class="header__icon">
                    <use xlink:href="images/sprite.svg#del-address"></use>
                  </svg>
                  <a class="header__link" href="#">АДРЕС И ВРЕМЯ ДОСТАВКИ</a>
                </li>
                <li class="header__item">
                  <svg class="header__icon">
                    <use xlink:href="images/sprite.svg#tel"></use>
                  </svg>
                  <a class="header__link" href="tel:907288365">ГОРЯЧАЯ ЛИНИЯ 24/7</a>
                </li>
              </ul>
              <ul class="menu">
                <li class="menu__item">
                  <a class="menu__link" href="#">ДОСТАВКА</a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#">О НАС</a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#">НОВОСТИ</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="header__bottom">
          <div class="container">
            <div class="header__wrapper">
              <a class="logo header__logo" href="#">
                <img src="images/logo.svg" alt="логотип" width="200" height="60">
              </a>
              <div class="catalog">
                <button class="button button--catalog" type="button">Каталог продуктов</button>
                <ul class="catalog__menu">
                  <li class="catalog__item">
                    <a class="catalog__link" href="#">Овощи и фрукты</a>
                  </li>
                  <li class="catalog__item">
                    <a class="catalog__link" href="#">Бакалея</a>
                  </li>
                  <li class="catalog__item">
                    <a class="catalog__link" href="#">Молочные продукты</a>
                  </li>
                  <li class="catalog__item">
                    <a class="catalog__link" href="#">Хлеб</a>
                  </li>
                  <li class="catalog__item">
                    <a class="catalog__link" href="#">Мясо</a>
                  </li>
                  <li class="catalog__item">
                    <a class="catalog__link" href="#">Колбаса</a>
                  </li>
                  <li class="catalog__item">
                    <a class="catalog__link" href="#">Рыба</a>
                  </li>
                  <li class="catalog__item">
                    <a class="catalog__link" href="#">Алкоголь</a>
                  </li>
                  <li class="catalog__item">
                    <a class="catalog__link" href="#">Напитки</a>
                  </li>
                  <li class="catalog__item">
                    <a class="catalog__link" href="#">Торты</a>
                  </li>
                  <li class="catalog__item">
                    <a class="catalog__link" href="#">Мясо</a>
                  </li>
                  <li class="catalog__item">
                    <a class="catalog__link" href="#">Чай, кофе</a>
                  </li>
                </ul>
              </div>
              <form class="form-search" action="#">
                <input class="form-search__field" type="text" placeholder="Найти в магазине ..." name="search" required>
                <button class="button button--search" type="submit">ПОИСК</button>
              </form>
              <ul class="user-nav">
                <li class="user-nav__item">
                  <a class="user-nav__link" href="#">
                    <span class="sr-only">Личный кабинет</span>
                    <svg class="user-nav__icon">
                      <use xlink:href="images/sprite.svg#user"></use>
                    </svg>
                  </a>
                </li>
                <li class="user-nav__item">
                  <a class="user-nav__link" href="#">
                    <span class="sr-only">Понравившиеся товары</span>
                    <svg class="user-nav__icon">
                      <use xlink:href="images/sprite.svg#heart"></use>
                    </svg>
                  </a>
                  <span class="user-nav__num">12</span>
                </li>
              </ul>
              <button class="user-nav__link user-nav__btn" type="button">
                <span class="sr-only">Корзина</span>
                <svg class="user-nav__icon user-nav__icon--cart">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                <span class="user-nav__num">12</span>
              </button>
              <section class="cart">
                <div class="cart__top">
                  <div class="cart__inner">
                    <h2 class="cart__title">Корзина</h2>
                    <button class="cart__clean" type="reset">очистить корзину</button>
                  </div>
                  <button class="cart__btn" type="button">
                    <svg class="cart__icon">
                      <use xlink:href="images/sprite.svg#cross"></use>
                    </svg>
                    <span class="sr-only">Закрыть корзину</span>
                  </button>
                </div>
                <article class="product-card cart__item">
                  <a class="product-card__img cart__img" href="#">
                    <img class="product-card__image" src="images/product-card/ananas.jpg" alt="Ананас" width="81" height="61">
                  </a>
                  <a class="product-card__link cart__link" href="#">
                    <h3 class="product-card__text cart__text">Ананас, 1кг</h3>
                    <p class="product-card__price cart__price">999₽</p>
                  </a>
                  <div class="product-card__counters cart__counter">
                    <input class="product-card__counter product-card__counter--number" type="number" step="1" value="1" min="1" max="99" name="number" id="number" data-counter>
                  </div>
                  <div class="product-card__bottom cart__bottom">
                    <p class="product-card__price cart__price">1998₽ </p>
                  </div>
                  <button class="cart-top__btn cart__btn--small" type="button">
                    <svg class="cart__icon cart__icon--small">
                      <use xlink:href="images/sprite.svg#cross"></use>
                    </svg>
                    <span class="sr-only">Удалить товар</span>
                  </button>
                </article>
                <article class="product-card cart__item">
                  <a class="product-card__img cart__img" href="#">
                    <img class="product-card__image" src="images/product-card/dragon.jpg" alt="Питахайя красная с белой мякотью" width="81" height="61">
                  </a>
                  <a class="product-card__link cart__link" href="#">
                    <h3 class="product-card__text cart__text">Питахайя красная с белой мякотью, 1шт</h3>
                    <p class="product-card__price cart__price">1019₽</p>
                  </a>
                  <div class="product-card__counters cart__counter">
                    <input class="product-card__counter product-card__counter--number" type="number" step="1" value="1" min="1" max="99" name="number" id="number" data-counter>
                  </div>
                  <div class="product-card__bottom cart__bottom">
                    <p class="product-card__price cart__price">2038₽</p>
                  </div>
                  <button class="cart-top__btn cart__btn--small" type="button">
                    <svg class="cart__icon cart__icon--small">
                      <use xlink:href="images/sprite.svg#cross"></use>
                    </svg>
                    <span class="sr-only">Удалить товар</span>
                  </button>
                </article>
                </ul>
                <div class="cart__summation">
                  <p class="cart__title cart__title--bottom">Товаров на сумму</p>
                  <span class="cart-price cart__amount">2038<span class="cart__unit">₽</span></span>
                </div>
                <a class="link cart__order" href="#">Оформить заказ</a>
              </section>
            </div>
          </div>
        </div>
      </nav>
    </header>