.advantages {
  padding: 48px 0 30px;
  background-color: $silver-100;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 915px;
  }

  &__item {
    padding-left: 74px;
    max-width: 260px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: top left;
  }

  &__subtitle {
    font-weight: $fw-600;
    font-size: 16px;
    margin-bottom: 6px;
  }

  &__text {
    color: $dark-500;

    p:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}