.advantages {
  padding: 48px 0 30px;
  background-color: $silver-100;

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding-left: 74px;
    max-width: 260px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: top left;

    &:not(:last-child) {
      margin-right: 70px;
    }
  }

  &__subtitle {
    font-weight: $fw-600;
    font-size: 16px;
    margin-bottom: 6px;
  }

  &__text {
    color: $dark-500;

    p:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 992px) {
  .advantages {
    padding: 27px 0;
    &__inner {
      flex-direction: column;
    }

    &__item {
      max-width: 100%;
      padding: 5px 0 5px 74px;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 21px;
      }
    }
  }
}