.contact {
  &__item {
    margin-bottom: 18px;
  }

  &__link {
    transition: opacity 0.4s, color 0.4s;

    &:focus {
      color: $green-900;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

@media (max-width: 1200px){
  .contacts{
    padding: 24px 0;
  }
}