.footer {
  background-color: $dark-800;
  color: $white;
  padding: 30px 0 22px;
  position: relative;
  flex: 0 0 auto;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    background-color: rgba($white, 0.1);
    height: 1px;
    bottom: 80px;
    right: 0;
    left: 0;
  }
}

.footer-top {
  display: flex;
  padding: 30px 0;

  &__form {
    max-width: 315px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 143px;
  }

  &__wrapper {
    display: flex;
  }

  &__label {
    margin-bottom: 18px;
    line-height: 1;
    display: block;
  }

  &__field {
    padding: 10px;
    width: 100%;
    max-width: 180px;
    border-radius: 6px 0 0 6px;
    transition: box-shadow 0.4s, background-color 0.3s;

    &::placeholder {
      line-height: 1;
      color: $placeholder;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba($black, 0.25);
    }
  }

  &__items {
    width: 100%;
    max-width: 595px;
    margin-right: 100px;
    column-count: 3;
  }

  &__item {
    &:not(:last-child) {
      margin: 0 40px 20px 0;
    }
  }

  &__link {
    padding: 5px 0;
    transition: opacity 0.4s, color 0.4s;

    &:focus {
      color: $green-900;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__contact-item {
    margin-bottom: 18px;
  }

  &__contact-link {

    &:not(p) {
      transition: opacity 0.4s, color 0.4s;

      &:focus {
        color: $green-900;
      }

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;

  &__accept {
    display: flex;
  }

  &__list {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__link {
    display: inline-block;
    transition: box-shadow 0.5s, opacity 0.5s;
    border-radius: 6px;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__icon {
    height: 30px;
    fill: $white;
    transition: opacity 0.4s, box-shadow 0.4s, fill 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7
    }

    &:active {
      fill: $green-200;
    }

    &--mc {
      width: 49px;
    }

    &--visa {
      width: 100px;
    }
  }
}

.social {
  display: flex;

  &__icon {
    width: 32px;
    height: 32px;
    transition: fill 0.3s;
    fill: $white;

    &:active {
      fill: $green-200;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    width: 32px;
    height: 32px;
    display: block;
    transition: opacity 0.4s, box-shadow 0.4s, fill 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7
    }

    &:active {
      fill: $green-200;
    }
  }
}