.footer {
  background-color: $dark-800;
  color: $white;
  padding: 30px 0 22px;
  position: relative;
  flex: 0 0 auto;

  @include mq('desktop') {
    text-align: center;
  }

  @include mq('phone') {
    padding-top: 25px;
    padding-bottom: 8px;
  }

  &::after {
    @include pseudo;
    width: 100%;
    background-color: rgba($white, 0.1);
    height: 1px;
    bottom: 80px;
    right: 0;
    left: 0;

    @include mq('desktop') {
      bottom: 130px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 38px 5px;

    @include mq('desktop') {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      text-align: left;
    }

    @include mq('phone') {
      padding-top: 0;
    }
  }

  &__items {
    width: 100%;
    max-width: 595px;
    margin-right: 30px;
    column-count: 3;

    @include mq('desktop') {
      margin: 0 auto;
      padding: 28px 0 24px 0;
      position: relative;
      max-width: 450px;
    }

    &::before,
    &::after {
      @include mq('desktop') {
        @include pseudo;
        min-width: 1200px;
        height: 1px;
        background-color: $white;
        opacity: 0.1;
        left: -400px;
        right: 0;
        z-index: 40;
      }
    }

    &::before {
      @include mq('desktop') {
        top: 0;
      }
    }

    &::after {
      @include mq('desktop') {
        bottom: 0;
      }
    }

    @include mq('phone') {
      column-count: 2;
      max-width: 350px;
    }
  }

  &__item {
    max-width: 150px;
    overflow: hidden;

    &:not(:last-child) {
      margin: 0 30px 20px 0;

      @include mq('desktop') {
        margin: 0 0 20px 0;
      }
    }
  }

  &__link,
  &__cart {
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__link {
    padding: 5px 7px;
    transition: opacity 0.4s, color 0.4s;

    &:focus {
      color: $green-900;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;

    @include mq('desktop') {
      flex-direction: column-reverse;
      padding: 24px 0 0 0;
    }

    @include mq('phone') {
      padding: 11px 0;
    }
  }

  &__carts {
    display: flex;

    @include mq('desktop') {
      margin-bottom: 24px;
    }
  }

  &__component {

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__cart {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 100px;
    height: 30px;
    transition: box-shadow 0.5s, opacity 0.5s;
    border-radius: 6px;

    &--small {
      width: 50px;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7
    }

    &:active {
      filter: invert(11%) sepia(22%) saturate(210%) hue-rotate(47deg) brightness(107%) contrast(86%);
    }
  }

  &__icon {
    width: 93px;
    height: 30px;
    fill: $white;
    transition: opacity 0.4s, box-shadow 0.4s, fill 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7
    }

    &:active {
      fill: $green-200;
    }

    &--small {
      width: 49px;
    }
  }

  &__copy {
    text-transform: uppercase;
  }
}