.header {
  letter-spacing: 0.03em;
  position: relative;

  &__logo {
    max-width: 200px;
    width: 100%;
    margin-right: 25px;

    &--mobile {
      display: none;
    }
  }

  &__top {
    background-color: $dark-800;
    text-transform: uppercase;
  }

  &__inner,
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    padding: 6px 0;
    font-size: 13px;
    font-weight: $fw-700;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    transition: opacity 0.4s;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      .header-top__icon {
        fill: $green-200;
      }
    }
  }

  &__icon {
    height: 22px;
    width: 32px;
    fill: $white;
    position: absolute;
    left: 0;
    transition: fill 0.4s;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    padding: 11px 11px 9px 44px;
    color: $white;
    transition: box-shadow 0.4s, color 0.4s;

    &:focus {
      box-shadow: 0 0 0 3px $green-100;
      border-radius: 3px;
    }

    &:active {
      color: $green-200;
    }
  }

  &__bottom {
    background-color: $green-900;
    //position: relative;
  }

  &__wrapper {
    padding: 25px 0;
    font-size: 14px;
    font-weight: $fw-600;
    display: flex;
    align-items: center;
  }
}

.menu-mobile {
  position: absolute;
  max-width: 300px;
  width: 100%;
  height: 100vh;
  z-index: 50;
  top: 0;
  background-color: $white;
  transform: translateY(-200%);
  transition: transform 0.5s;

  &--active {
    transform: translateY(0);
  }

  &__top {
    padding: 26px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart {
    &__btn {
      width: 28px;
      height: 28px;
    }

    &__icon {
      width: 100%;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    padding: 9px 15px;
    background-color: $green-900;
  }

  &__icon {
    margin-right: 15px;
    width: 25px;
    height: 32px;
    fill: $white;
  }

  &__link {
    color: $white;
    font-size: 18px;
    line-height: 1;
    padding: 0 7px;

    &:not(:last-child) {
      border-right: 1px solid $white;
    }
  }

  .catalog {
    border-bottom: 1px solid rgba($silver-600, 0.3);
  }

  .catalog,
  .catalog__menu {
    max-width: 100%;
  }

  .contact {
    &__item {
      position: relative;
      padding-left: 40px;

      &::before {
        display: block;
        position: absolute;
        content: "";
        background-image: url('../images/icon/icon-tel.svg');
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
      }

      &--mark {
        &::before {
          background-image: url('../images/icon/icon-mark.svg');
          height: 32px;
        }
      }
    }
  }

  .contact {
    &__link {
      max-width: 230px;
      width: 100%;
      font-size: 18px;
      line-height: 1.2;
      color: $dark-800;
    }
  }

  .button {
    &--catalog {
      font-weight: $fw-600;
      font-size: 18px;
      line-height: 1;
      color: $dark-800;

      &::before {
        height: 20px;
        background-image: url('../images/nav-mobile.svg');
      }

      &::after {
        content: none;
      }
    }
  }

  .contacts {
    display: block;
    padding: 24px 15px;
    border-bottom: 1px solid rgba($silver-600, 0.3);
  }

  .social {

    &__link {
      background-size: contain;
      width: 32px;
      height: 32px;
    }
  }

  .menu {
    display: flex;
    padding: 24px 8px;
    flex-direction: column;
    align-items: flex-start;

    &__item {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &__link {
      color: $dark-800;
      font-size: 18px;
      line-height: 1.2;
      font-weight: $fw-400;
      padding: 7px;
    }
  }
}

.catalog {
  margin-right: 30px;
  width: 100%;
  max-width: 245px;

  &__menu {
    position: absolute;
    background-color: $white;
    border: 1px solid $silver-300;
    max-width: 245px;
    width: 100%;
    border-radius: 0 0 6px 6px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: opacity 0.4s;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__item {
    position: relative;

    &::before {
      height: 100%;
      width: 3px;
      background-color: $green-900;
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: -1px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba($silver-600, 0.3);
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &__link {
    font-size: 16px;
    color: $black;
    line-height: 1.2;
    font-weight: $fw-400;
    padding: 15px 24px;
    transition: color 0.4s;
    width: 100%;
    display: block;
    transition: box-shadow 0.4s;

    &:focus {
      box-shadow: inset 0 0 0 3px $green-200;
    }

    &:hover {
      color: $green-900;
    }

    &:active {
      color: $silver-600;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    padding: 10px 7px;
    color: $white;
    transition: opacity 0.4s, box-shadow 0.4s, color 0.4s;

    &:focus {
      box-shadow: 0 0 0 3px $green-100;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 3px;
    }

    &--search {
      display: none;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    z-index: 10;
    fill: $white;
    transition: fill 0.4s;

    &:active {
      fill: rgba($white, 0.5);
    }
  }

  &__link {
    height: 100%;
    padding: 8px 12px;
    display: block;
    border-radius: 3px;
    align-self: center;
    transition: background-color 0.4s, box-shadow 0.3s;

    &:focus {
      background-color: rgba($black, 0.1);
      box-shadow: inset 0 0 0 3px $green-100;
    }

    &:hover,
    &:active {
      background-color: rgba($white, 0.1);
    }
  }

  &__btn {
    position: relative;
  }

  &__num {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
    top: 0;
    left: 0;
    color: $red-900;
    font-weight: $fw-600;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    z-index: 15;
  }
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;

  &__line,
  &::before,
  &::after {
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: $white;
    margin: 0 auto;
    left: 0;
  }

  &__line {
    top: 50%;
    transform: translateY(-50%);
  }

  &::before,
  &::after {
    content: "";
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@media (max-width: 1200px) {

  .user-nav {
    &__item {
      &--search {
        display: block;
      }
    }
  }

  .catalog {
    margin-right: auto;
  }
}

@media (max-width: 992px) {
  .burger {
    display: block;
  }

  .header {
    &__inner {
      padding: 15px 0;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 60px;
      }
    }

    &__icon {
      left: -30px;
    }

    &__wrapper {
      justify-content: flex-end;
      padding: 8px 0;
    }

    &__logo {
      margin-right: auto;

      &--mobile {
        display: block;
      }
    }

    &__img {
      display: none;
    }
  }

  .header__link,
  .menu {
    display: none;
  }

  .catalog {
    display: none;
  }

  .user-nav {

    &__item {
      display: none;

      &--search {
        display: block;
      }
    }

    &__icon {
      width: 24px;
      height: 24px;
    }
  }

  .menu-mobile {
    .catalog {
      display: block;
    }
  }
}