.header {
  letter-spacing: 0.03em;

  &__logo {
    margin-right: 25px;
    max-width: 200px;
    width: 100%;
  }

  &__top {
    background-color: $dark-800;
    text-transform: uppercase;
  }

  &__nav {
    @include mq('tablet-2') {
      display: none;
    }
  }

  &__inner,
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    padding: 6px 0;
    font-size: 13px;
    font-weight: $fw-700;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    transition: opacity 0.4s;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      .header-top {
        &__icon {
          fill: $green-200;
        }
      }
    }
  }

  &__icon {
    height: 22px;
    width: 32px;
    fill: $white;
    position: absolute;
    left: 0;
    transition: fill 0.4s;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    padding: 11px 11px 9px 44px;
    color: $white;
    transition: box-shadow 0.4s, color 0.4s;

    &:focus {
      box-shadow: 0 0 0 3px $green-100;
      border-radius: 3px;
    }

    &:active {
      color: $green-200;
    }
  }

  &__bottom {
    background-color: $green-900;
  }

  &__wrapper {
    padding: 25px 0;
    font-size: 14px;
    font-weight: $fw-600;
    display: flex;
    align-items: center;
  }
}

.catalog {
  margin-right: 30px;
  width: 100%;
  max-width: 245px;

  @include mq('desktop') {
    margin-right: auto;
  }

  &__menu {
    position: absolute;
    background-color: $white;
    border: 1px solid $silver-300;
    max-width: 245px;
    width: 100%;
    border-radius: 0 0 6px 6px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: opacity 0.4s;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__item {
    position: relative;

    &::before {
      height: 100%;
      width: 3px;
      background-color: $green-900;
      @include pseudo;
      top: 0;
      bottom: 0;
      left: -1px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba($silver-600, 0.3);
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &__link {
    font-size: 16px;
    color: $black;
    line-height: 1.2;
    font-weight: $fw-400;
    padding: 15px 24px;
    transition: color 0.4s;
    width: 100%;
    display: block;
    transition: box-shadow 0.4s;

    &:focus {
      box-shadow: inset 0 0 0 3px $green-200;
    }

    &:hover {
      color: $green-900;
    }

    &:active {
      color: $silver-600;
    }
  }

  &__button {
    width: 100%;
    height: 50px;
    padding: 15px 46px 15px 61px;
    color: $green-900;
    background-color: $white;
    border-radius: 6px;
    position: relative;
    letter-spacing: 0.03em;
    margin-right: 29px;
    transition: background-color 0.4s, box-shadow 0.4s;

    &:hover,
    &--active {
      background-color: $green-200;
      border-radius: 6px 6px 0 0;
    }

    &::before,
    &::after {
      @include pseudo;
      background-repeat: no-repeat;
    }

    &::before {
      background-image: url('../images/nav.svg');
      width: 25px;
      height: 17px;
      left: 17px;
      background-size: cover;
    }

    &::after {
      background-image: url('../images/arrow.svg');
      width: 8px;
      height: 8px;
      background-size: contain;
      right: 18px;
      top: 22px;
      transition: transform 0.4s;
    }

    &:hover,
    &--active {
      &::after {
        transform: rotate(180deg);
        top: 20px;
      }
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    padding: 10px 7px;
    color: $white;
    transition: opacity 0.4s, box-shadow 0.4s, color 0.4s;

    &:focus {
      box-shadow: 0 0 0 3px $green-100;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 3px;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    z-index: 10;
    fill: $white;
    transition: fill 0.4s;

    &:active {
      fill: rgba($white, 0.5);
    }
  }

  &__link {
    height: 100%;
    padding: 8px 12px;
    display: block;
    border-radius: 3px;
    align-self: center;
    transition: background-color 0.4s, box-shadow 0.3s;

    &:focus {
      background-color: rgba($black, 0.1);
      box-shadow: inset 0 0 0 3px $green-100;
    }

    &:hover,
    &:active {
      background-color: rgba($white, 0.1);
    }
  }

  &__btn {
    position: relative;
  }

  &__num {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
    top: 0;
    left: 0;
    color: $red-900;
    font-weight: $fw-600;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    z-index: 15;
  }
}