.social {
  display: flex;

  &__icon {
    width: 32px;
    height: 32px;
    transition: fill 0.3s;
    fill: $white;

    &:active {
      fill: $green-200;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    border-radius: 6px;
    width: 32px;
    height: 32px;
    display: block;
    transition: opacity 0.4s, box-shadow 0.4s, background-color 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7
    }

    &:active {
      filter: invert(11%) sepia(22%) saturate(210%) hue-rotate(47deg) brightness(107%) contrast(86%);
    }
  }
}