.shop {
  padding: 48px 0 76px;

  @include mq('tablet') {
    padding: 30px 0 34px;
  }

  &__title {
    font-weight: $fw-700;
    font-size: 42px;
    line-height: 1.2;
    font-family: $ruda;
    margin-bottom: 46px;

    @include mq('tablet') {
      margin-bottom: 30px;
      font-size: 30px;
    }
  }

  &__content {
    width: 100%;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  .link {
    max-width: 200px;

    @include mq('tablet') {
      margin: 0 auto 24px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    @include mq('tablet') {
      flex-direction: column;
      justify-content: center;
    }
  }
}