.brands {
  padding: 68px 0;

  @include mq('tablet') {
    padding-bottom: 20px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin: 0 60px;
  }

  &__image {
    cursor: pointer;
    opacity: 0.5;
    object-fit: contain;
    transition: opacity 0.4s;

    &:hover {
      opacity: 1;
    }
  }
}