.brands {
  padding: 68px 0;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    cursor: pointer;
    opacity: 0.5;
    object-fit: contain;
    transition: opacity 0.4s;

    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 600px) {
  .brands {
    padding-bottom: 20px;
  }
}