.main-slider {

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 600px;
    position: relative;

    @include mq('tablet-2') {
      height: 450px;
    }

    @include mq('tablet') {
      height: 320px;
    }
  }

  &__content {
    background-color: rgba($white, 0.8);
    border-radius: 4px;
    padding: 26px 30px;
    width: 100%;
    max-width: 1290px;
    margin: 0 15px;

    @include mq('tablet') {
      padding: 10px 7px;
      margin: 0;
      border-radius: 0;
    }
  }

  &__title {
    font-weight: $fw-700;
    font-family: $ruda;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $dark-500;
    margin-bottom: 10px;
    max-width: 850px;
    @include line-clamp(3);

    @include mq('tablet-2') {
      font-size: 35px;
      max-width: 500px;
    }

    @include mq('tablet') {
      font-size: 20px;
      max-width: 300px;
      margin-bottom: 18px;
    }
  }

  &__span {
    color: $red-900;
    display: block;
  }

  &__text {
    color: $dark-500;
    font-size: 16px;
    margin-bottom: 30px;
    max-width: 850px;
    @include line-clamp(3);

    @include mq('tablet-2') {
      max-width: 450px;
    }

    @include mq('tablet') {
      max-width: 350px;
      margin-bottom: 24px;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .arrow {
    position: absolute;
    padding: 0;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    border-radius: 6px;
    background-color: rgba($white, 0.8);
    transition: box-shadow 0.4s, background-color 0.4s;

    &:focus {
      box-shadow: 0 0 0 3px rgba($green-900, 0.5);

      .arrow {
        &__image {
          fill: $silver-800;
        }
      }
    }

    &:hover {
      background-color: $green-200;

      .arrow {
        &__image {
          fill: $green-900;
        }
      }
    }

    &:active {
      background-color: $silver-200;

      .arrow {
        &__image {
          fill: $green-900;
        }
      }
    }

    &__image {
      width: 30px;
      height: 30px;
      border-radius: 6px;
      fill: $dark-500;
      transition: fill 0.3s;
    }

    &--prev {
      left: 45px;
    }

    &--next {
      right: 45px;
    }


  }

  .slick-disabled {
    cursor: default;
    .arrow {
      &__image {
        fill: $silver-600;
      }
    }

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($white, 0.8);
      box-shadow: none;

      .arrow {
        &__image {
          fill: $silver-600;
        }
      }
    }
  }
}

  .slick-dots {
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq('tablet') {
      bottom: 10px;
    }

    button {
      background: $white;
      border: 1px solid $silver-600;
      border-radius: 50%;
      font-size: 0;
      width: 13px;
      height: 13px;
      padding: 0;

      @include mq('tablet') {
        width: 10px;
        height: 10px;
      }
    }

    li {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }

    .slick-active {
      button {
        background: $green-900;
        border: 1px solid $green-900;
      }
    }
  }
