.promo {
  text-align: center;
  background-color: $silver-500;

  &__items {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 27px;
    column-gap: 32px;
    margin-bottom: 48px;

    @include mq('desktop') {
      grid-template-columns: repeat(3, 1fr);
      margin: 0 auto 48px;
      column-gap: 15px;
    }

    @include mq('tablet-2') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq('phone') {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 15px;
      margin: 0 auto 26px;
    }
  }

  &__item {
    background-color: $white;
    padding: 15px 30px 0 0;
    min-height: 124px;
    border: 1px solid rgba($dark-1000, 0.2);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 300px;
    width: 100%;
    position: relative;
    transition: border 0.4s;

    @include mq('desktop') {
      margin: 0 auto;
      max-width: 100%;
    }

    @include mq('phone') {
      max-width: 300px;
      max-height: 124px;
      height: 100%;
    }

    &:hover {
      border: 1px solid $green-900;
    }
  }

  .badge {
    z-index: 20;
    position: absolute;
    left: 19px;
    top: -4px;
  }

  .product-card {
    flex-direction: row;
    padding-top: 0;
    justify-content: flex-start;

    &__img {
      width: 220px;
      margin-right: 5px;
    }

    &__prices {
      flex-direction: row;
    }

    &__bottom {
      flex-direction: column;
      margin-top: auto;
      padding: 0;
    }

    &__title {
      padding: 0;
      z-index: 25;
      width: 100%;
    }

    &__price {
      font-size: 20px;
      font-weight: $fw-600;
      margin-right: 13px;

      span {
        font-size: 14px;
      }

      &--old {
        font-size: 12px;
        font-weight: $fw-400;
        align-self: center;

        span {
          font-size: 12px;
        }
      }
    }

    &__img {
      width: 100%;

      @include mq('desktop') {
        width: 120px;
      }

      @include mq('phone') {
        width: 200px;
        height: 100px;
      }

      &::after,
      &::before {
        display: none;
      }
    }

    &__image {
      object-fit: contain;
      width: 220px;

       @include mq('desktop'){
         max-width: 100%;
       }
    }

  }
}