.promo {
  text-align: center;
  background-color: $silver-500;

  &__items {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 27px;
    column-gap: 32px;
    margin-bottom: 48px;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__item {
    background-color: $white;
    padding: 15px 30px 0 0;
    min-height: 124px;
  }

  &__filter {
    &:not(:last-child) {
      margin-right: 37px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 11px;
    width: 100%;
  }

  &__wrap {
    left: -9px;
  }

  &__card {
    flex-direction: row;
    padding-top: 0;
    justify-content: flex-start;
  }

  &__badge {
    padding-left: 25px;
    z-index: 20;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 220px;
    margin-right: 5px;
  }

  .product-card__prices {
    flex-direction: row;
  }

  &__rating {
    position: relative;
    color: $dark-500;
    font-weight: $fw-600;
    line-height: 1;
    letter-spacing: 0.03em;
    align-self: flex-end;

    &::after {
      position: absolute;
      content: "";
      mask-image: url('../images/sprite.svg#star');
      width: 16px;
      height: 16px;
      background-color: $yellow-900;
      mask-position: center;
      mask-size: cover;
      left: 25px;
      top: -3px;
    }
  }

  &__bottom {
    flex-direction: column;
    margin-top: auto;
    padding: 0;
  }

  &__text {
    padding: 0;
    z-index: 25;
    width: 100%;
    transition: color 0.4s;

    &:hover {
      color: $green-900;
    }
  }

  &__availability {
    color: $green-900;
    text-transform: uppercase;
    line-height: 1;
    font-size: 10px;
    font-weight: $fw-600;
    letter-spacing: 0.03em;
    margin-bottom: 5px;

    &--end {
      color: $red-900;
    }

    &--not {
      color: $silver-600;
    }
  }

  .product-card__price {
    font-size: 20px;
    font-weight: $fw-600;
    margin-right: 13px;

    &--old {
      font-size: 12px;
      font-weight: $fw-400;
      align-self: flex-end;
    }
  }

  &__currency {
    font-size: 14px;
  }

  .product-card__img {
    &::after {
      content: none;
    }
  }

  .product-card__image {
    object-fit: contain;
  }
}

@media (max-width:1350px) {
  .promo {
    &__items {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 15px;
    }

    &__item {
      max-width: 90%;
    }
  }
}


@media (max-width:1200px) {
  .promo {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      max-width: 700px;
      margin: 0 auto 48px;
    }

    &__item {
      max-width: 350px;
      margin: 0 auto;
    }

    &__img {
      width: 120px;
    }
  }
}

@media (max-width:600px) {
  .promo {
    &__title {
      margin-bottom: 25px;
    }

    &__items {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 15px;
      margin: 0 auto 26px;
    }

    &__item {
      max-width: 300px;
      max-height: 124px;
      height: 100%;
    }

    &__img {
      width: 200px;
    }

    .product-card__img{
      height: 100px;
    }
  }
}