.products {
  text-align: center;
  letter-spacing: 0.03em;

  &__items {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 48px;

    @include mq('desktop') {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1000px;
      margin: 0 auto 48px;
    }

    @include mq('tablet-2') {
      grid-template-columns: 1fr 1fr;
      max-width: 700px;
      justify-content: center;
      margin: 0 auto 48px;
    }

    @include mq('phone') {
      gap: 5px;
      margin-bottom: 27px;
    }
  }

  &__item {
    border: 1px solid rgba($dark-1000, 0.2);
    border-radius: 6px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 300px;
    width: 100%;
    position: relative;
    transition: border 0.4s;

    &:hover {
      border: 1px solid $green-900;
    }
  }
}

.badge {
  z-index: 35;

  &__item {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__name {
    width: 100%;
    padding: 3px 6px;
    border-radius: 6px;
    font-weight: $fw-700;
    color: $white;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;

    &--news {
      background-color: $green-900;
    }

    &--sale {
      background-color: $red-900;
    }

    &--hit {
      background-color: $orange-900;
    }
  }
}